
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Login_v16/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Login_v16/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">

        <div class="container-login100" style="background-image: url('https://media.istockphoto.com/id/958693744/tr/vekt%C3%B6r/mavi-arka-plan-arka-k%C4%B1rm%C4%B1z%C4%B1-%C4%B1%C5%9F%C4%B1k-iz.jpg?s=612x612&w=0&k=20&c=hl1F8sHvGGjPHQhiKOb-od6ox1gzzx92Y7tJrU3Ci4w=');">
            <div class="wrap-login100 p-t-30 p-b-50">

                <form class="login100-form validate-form p-b-33 p-t-5" method="post">

                    <div class="wrap-input100 validate-input" data-validate="Adınız">
                        <input class="input100" type="text" name="Name" placeholder="Adınız">
                        <span class="focus-input100" data-placeholder=""></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Soyadınız">
                        <input class="input100" type="text" name="SurName" placeholder="Soyadınız">
                        <span class="focus-input100" data-placeholder=""></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Kullanıcı Adınız">
                        <input class="input100" type="text" name="UserName" placeholder="Kullanıcı Adınız">
                        <span class="focus-input100" data-placeholder=""></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Email">
                        <input class="input100" type="email" name="Email" placeholder="Email">
                        <span class="focus-input100" data-placeholder=""></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Şifre">
                        <input class="input100" type="password" name="Password" placeholder="Şifre">
                        <span class="focus-input100" data-placeholder=""></span>
                    </div>

                    <div class="container-login100-form-btn m-t-32">
                        <button class="login100-form-btn">
                            Kayıt Ol
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Login_v16/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v16/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v16/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Login_v16/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v16/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v16/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Login_v16/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v16/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v16/js/main.js"></script>

</body>
</html>




